@inherits LayoutComponentBase

<header>
    IMC
</header>

<div class="container">
    <div class="text">
        Qual a sua altura?

        <Slider TValue="decimal" Value="25m" Max="100m" />
    </div>

    <div class="text">
        exemplo
    </div>
    
</div>